.logo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo-titulo img {
  width: 60px;
  height: auto;
}
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

ul li {
  background: linear-gradient(135deg, #ffffff, #e6f0ff);
  padding: 15px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.engrenagem {
  position: fixed;
  right: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  font-size: 200px;
  opacity: 0.15;
  pointer-events: none;
  z-index: 0;
}


.engrenagem-pequena {
  right: -60px;        /* mais pra dentro */
  top: calc(50% + 39px); /* bem perto da grande */
  font-size: 108px;     /* menor */
  opacity: 0.87;
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.29));
}
